<!DOCTYPE html>
<html>
    <head>
        <title>
            Uppercase filter
        </title>
        <script src="lib.js"></script>
    </head>
    <body ng-app="myapp" ng-controller="mycntrl">

        original names:
        <ul>
            <li ng-repeat="x in students">
                {{x}}
            </li>
        </ul>
        Uppercase filter:
        <ul>
            <li ng-repeat="x in students">
                {{x|uppercase}}
            </li>
        </ul>

        <script>
            var app=angular.module("myapp",[])
            app.controller("mycntrl",function($scope)
            {
                $scope.students=["dhanush","yathish","Abhi"];
            })
        </script>


    </body>
</html>